[Unit]
Description=GO Simple Tunnel
After=network.target

[Service]
Type=simple
User=gost
ExecStart=/usr/bin/gost -C /etc/gost.conf
Restart=always
RestartSec=0s

[Install]
WantedBy=multi-user.target
