[Unit]
Description=SSH log watcher
Before=sshd.service

[Service]
ExecStart=/usr/sbin/denyhosts --foreground --noemail
Restart=always

[Install]
WantedBy=multi-user.target
